@import "../src/library/Raleway-Regular.ttf";
@import "./variables.scss";
@font-face {
    font-family: 'Raleway-Regular';
    src: url('../src/library/Raleway-Regular.ttf');
}

/*------- Style on iterating elements --------*/
 
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url("../src/images/background.jpg");
}

h1{
    font-family: 'Raleway-Regular';
    color: $white;
}

p{
    @extend h1; 
    font-size: 15px; 
}

h3,span{
    @extend h1;
}

a{
    text-decoration: none;
    color: $white;
    font-size: 15px;
    padding: 10px;
    font-family: 'Raleway-Regular';
    transition: 0.3s ease-in;
}

li{
    list-style: none;
    margin: 0px 10px;
}

button{
    color: $white;
    padding: 10px 20px;
    font-size: 15px;
    font-family: 'Raleway-Regular';
    background-color: transparent;
    text-align: center;
    border: 1px solid $white;
    border-radius: 2px;
    transition: 0.3s ease-in;
    &:hover{
        background-color: $white;
        color: $black;
    }
}

/*-------- style on my navigation bar menu --------- */
header{
    position: fixed;
    width: 100%;
    z-index: 2;
}
nav{
    background-color: $black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    width: auto;
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    ul li a:hover{
        color: $orange;
    }
    .search,.cart{
        cursor: pointer;
    }
}

/*------- Style on the website banner -------*/
.baner{
    background-image: url('../src/images/home-bg.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    position: relative;
    top:80px;
    margin-bottom: 50px;
    z-index: 1;

    .image{
        width: auto;
        img{
            width: 500px;
        }
    }
}

/*------Style on my div introduction ------*/
.introduction{
    text-align: center;
    margin-bottom: 60px;
}

/*-------Style on my section services------*/
#services{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;
    .service-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .service-card{
        .service-img{
            height: 50px;
            width: 50px;
            padding: 20px;
            border-radius: 50%;
            background-color: $orange;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

/*------Style on my section menu-------*/
//style on titlte
.menus{
    text-align: center;
}